.main {
    padding: 5% 2%;
}

.contact-form-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #000;
    padding: 20px 15px;
    border: none;
    border-radius: 15px;
}

.contact-form-column {
    display: flex;
    background-color: #000;
    margin: 0 5px;
    width: 50%;
    justify-content: space-between;
    color: #fff;
}

.contact-form-column iframe {
    border-radius: 15px;
}

.contact-form {
    width: 100%;
}

.f-row.row-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}

.form-content {
    width: 50%;
}

.form-content label, .form-textarea label, .form-select label {
    font-size: 20px;
}


.f-row.row-1 input[type=text], .f-row.row-1 input[type=email] {
    border: 1px solid crimson;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 25px;
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
}

input:focus, select:focus, textarea:focus {
    animation: inputGlow 800ms ease-out infinite alternate;
    outline: none;
    border: 1px solid crimson;
}

.f-row.row-2 .form-content {
    margin-bottom: 25px;
}

.f-row.row-2 p {
    font-size: 20px;
}

/* STYLES FOR CUSTOM RADIO BUTTONS | W3SCHOOLS */
/* style custom labels */
.f-row.row-2 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide browser default radio button */
.f-row.row-2 .container input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom radio button */
.radio_indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid white;
}

/* hover over de radiobutton maakt grijs */
.f-row.row-2 .container:hover input[type=radio] ~ .radio_indicator {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.f-row.row-2 .container input[type=radio]:checked ~ .radio_indicator {
    background-color: crimson;
    border: 1px solid crimson;
}

/* create the dot in the middle */
.radio_indicator:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.f-row.row-2 .container input[type=radio]:checked ~ .radio_indicator:after {
    display: block;
  }
  
/* Style the indicator (dot/circle) */
.f-row.row-2 .container .radio_indicator:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}

/* STYLES FOR CUSTOM RADIO BUTTONS | W3SCHOOLS */

.f-row.row-3 select {
    border: 1px solid crimson;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 96.7%;
    height: 35px;
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
}

.f-row.row-3 textarea {
    border: 1px solid crimson;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    height: 150px;
    resize: none;
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
}

.f-row.row-4 input[type=submit] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid crimson;
    color: #fff;
    background-color: #000;
    height: 50px;
    width: 120px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.f-row.row-4 input[type=submit]:hover {
    border: 1px solid crimson;
    background-color: crimson;
}

/* STYLES FOR CUSTOM RADIO BUTTONS | W3SCHOOLS */
/* style custom labels */
.f-row.row-4 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.f-row.row-4 input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #000;
    border: 1px solid white;
}

/* On mouse-over, add a grey background color */
.f-row.row-4 .container:hover input[type=checkbox] ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.f-row.row-4 .container input[type=checkbox]:checked ~ .checkmark {
    background-color: crimson;
    border: 1px solid crimson;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.f-row.row-4 .container input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.f-row.row-4 .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* STYLES FOR CUSTOM RADIO BUTTONS | W3SCHOOLS */

@media screen and (max-width: 740px) {
    .contact-form-container {
        display: flex;
        flex-direction: column;
    }

    .contact-form-column {
        margin: 0 0 20px 0;
        width: 90%;
        padding: 15px;
    }

    .f-row.row-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .form-content {
        width: 100%;
    }

    .f-row.row-1 input[type=text], .f-row.row-1 input[type=email] {
        width: 100%;
    }

    .f-row.row-2 p {
        padding-left: 0px;
        width: 100%;
    }

    .f-row.row-3 textarea {
        width: 100%;
    }

    .f-row.row-3 input[type=submit] {
        width: 100%;
    }
}

@keyframes inputGlow {
    0% { box-shadow:  0 0 40px rgba(220, 20, 60, .2); }
    100% { box-shadow:  0 0 40px rgba(220, 20, 60, .8); }
}