.main{
    width: 100%;
    padding: 2% 2%;
    margin: 0 auto;
    background:#000;
}
.vid-frame{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main-vid{
    width: 100%;
    height: 650px;
    position: relative;
}

.vid-overview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
}
.vid-overview .item{
    width: 18%;
    height: 500px;
}
.vid-overview .sub-vid{
    width: 100%;
    height: 75%;
}

.vid-overview .item .text{
    top: 0;
    color: white;
    position: relative;
    font-size: 32px;
    text-align: center;
}
.text sub{
    font-size: 12px;
    line-height: 0;
}

