/* START | Simple reset css */

body, * {
    padding: 0;
    margin: 0;
}

/* END | Simple reset css */

/* START | body styles for the video overview page */
section {
    display: flex;
}

.cards-row {
    margin: 20px 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px 0;
    width: 20%;
    border: 1px solid white;
    border-radius: 4px;
    transition: 0.3s;
    box-shadow: 10px 10px 20px rgba(206, 8, 10, 0.5);
}

.card img {
    width: 100%;
    border-radius: 4px;
}

.card:hover {
    transition: 1.5s;
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(206, 8, 10);
}

.card > div {
    padding: 15px;
}

.card > div h4 {
    margin-bottom: 20px;
}

.card > div a {
    padding: 5px;
    text-decoration: none;
    border: 1px solid crimson;
    border-radius: 4px;
    color: black
}

.card > div a:hover {
    background-color: crimson;
    color: white;
}

.card > div a:hover::after {
    content: '!';
}


@media screen and (max-width: 376px) {
    nav {
        position: fixed;
        width: 375px;
        top: 0;
        z-index: 10;
    }
    
    main {
        margin-top: 50px;
    }

    .card {
        margin: 25px;
        width: 95%;
        font-size: 22px;
    }
}

/* END | body styles for the video overview page */